<p>
  <b>Nome:</b>
  <%=h @programa.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @programa.descricao %>
</p>

<p>
  <b>Locutores:</b>
  <%=h @programa.locutores %>
</p>


<%= link_to 'Edit', edit_programa_path(@programa) %> |
<%= link_to 'Back', programas_path %>