<div class="wrapper">
  <%= link_to 'Voltar', ouvintes_path,:class=>"sbutton" %>
</div><br /><br />
<h3>Cadastrar <b>Usuário</b></h3>

<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => useres_path do |f| -%>
<p><%= f.label :login %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :password,"Senha" %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Reescreva a senha' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Cadastrar' %></p>
<% end -%>
